<div class="news">
    <h2>Experience</h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr>
                <th scope="row">2024/09 - Now</th>
                <td>
                    <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia</a>, Senior Researcher.
                </td>
            </tr>
            <tr>
                <th scope="row">2022/06 - 2024/08</th>
                <td>
                    <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">Microsoft Research Asia</a>, Researcher.
                </td>
            </tr>
            <tr>
                <th scope="row">2017/09 - 2022/06</th>
                <td>
                    <a href="http://www.bit.edu.cn/">Beijing Institute of Technology</a>, Natural Language Processing, <br> Doctor of Engineering, Supervisor: <a href="http://cs.bit.edu.cn/szdw/jsml/js/hhy/index.htm">Heyan Huang</a>.
                </td>
            </tr>
            <tr>
                <th scope="row">2019/04 - 2019/09</th>
                <td>
                    <a href="https://www.ntu.edu.sg/">Nanyang Technological University</a>, Natural Language Processing, <br>Joint PhD Student funded by <a href="https://www.csc.edu.cn/">CSC</a>, Supervisor: <a href="https://www.sentic.net/team/">Erik Cambria</a> & <a href="https://frcchang.github.io">Yue Zhang</a>.
                </td>
            </tr>
            <tr>
                <th scope="row">2018/08 - 2019/03</th>
                <td>
                    <a href="https://www.sutd.edu.sg/">Singapore University of Technology and Design</a>, Natural Language Processing, <br>Joint PhD Student funded by <a href="https://www.csc.edu.cn/">CSC</a>, Supervisor: <a href="https://frcchang.github.io">Yue Zhang</a>.
                </td>
            </tr>
            <tr>
                <th scope="row">2012/09 - 2016/06</th>
                <td>
                    <a href="http://www.bit.edu.cn/">Beijing Institute of Technology</a>, Computer Science, <br>Bachelor, Supervisor: <a href="http://cs.bit.edu.cn/szdw/jsml/js/hhy/index.htm">Heyan Huang</a>.
                </td>
            </tr>
        </table>
    </div>
</div>