<div class="news">
    <h2>Work Experience</h2>
    <div class="table-responsive">
        <table class="table table-sm table-borderless">
            <tr>
                <th scope="row">2022/06 - </th>
                <td>
                    <a href="https://www.msra.cn/">Microsoft Research Asia</a>, <a href="https://www.microsoft.com/en-us/research/group/natural-language-computing/people/">Natural Language Computing Group</a>, Researcher.
                </td>
            </tr>
        </table>
    </div>
</div>